@model PetCare.Api.Models.MedicalFormulaViewModel

<div class="form-group">
    <label asp-for="MedicineId" class="control-label"></label>
    <select asp-for="MedicineId" asp-items="Model.Medicines" class="form-control"></select>
    <span asp-validation-for="MedicineId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Remarks" class="control-label"></label>
    <textarea asp-for="Remarks" class="form-control"></textarea>
    <span asp-validation-for="Remarks" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="MedicinePrice" class="control-label"></label>
    <input asp-for="MedicinePrice" class="form-control" />
    <span asp-validation-for="MedicinePrice" class="text-danger"></span>
</div>